.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.banner_container {
  width: 100%;
  background-color: #0A0E11;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  box-shadow: 0px 0px 10px black;
}

.banner_inside_container {
  max-width: 1000px;
  width: 70%;
}


.container h1, .container h2 {
  font-weight: 100;
}

.subtitle_container{
  display: flex;
  justify-content: space-around;
  width: 30rem;
  color: var(--orange);
  margin-top: -2rem;
}

.subtitle_container div{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.booth_card{
  width: 30rem;
  height: 10rem;
  background-color: var(--darkBlue);
  display: flex;
  justify-content: space-between;

  transition: .5s;
}

.booth_card h1 {
  font-size: 13pt;
}

.lab_title {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dark);
  width: 30%;
  transition: .5s;
}

.booth_title {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  width: 70%;
  height: 100%;
}

.container section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.booth_card:hover {
  transform: scale(1.1);
  background-color: var(--dark);
  color: var(--orange);
}

.booth_card:hover .lab_title{
  background-color: var(--orange);
  color: var(--dark);
}

.lab_title ul {
  list-style: none;
  padding: 0;
  color: var(--orange);
}

.booth_card:hover .lab_title ul {
  color: var(--dark);
}

.lab_title h5 {
  font-weight: 100;
  font-size: 15pt;
  margin: 0;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  list-style: none;
  min-height: 3rem;
  width: 100%;
  overflow: hidden;
  margin-right: 1rem;
}

.scheduleContainer li {
  width: 100%;
  padding-right: 1rem;
  visibility: hidden;
}

.booth_card:hover .scheduleContainer li {
  visibility: visible;
}

.booth_card:hover .scheduleContainer {
  overflow-y: scroll;
}

.scheduleContainer::-webkit-scrollbar {
  background-color: var(--darkBlue);
  width: .5rem;
}

.scheduleContainer::-webkit-scrollbar-thumb {
  background-color: var(--orange);
}


@media (max-width:1000px) {
  .container section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .booth_card {
    width: 90%;
  }

}

