.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
.container h1, .container h2 {
  font-weight: 100;
}

.user_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-left: 10vw;
  line-height: 5pt;
}

.user_info p{
  font-size: 15pt;
}

.user_info span{
  color: var(--darkBlue);
}

.user_info h4{
  font-weight: 100;
  cursor: pointer;
  color:var(--orange);
}

.user_info div {
  display: flex;
  align-items: center;
  gap: 1rem;  
  color: white;
}

.user_info div div {
  color: var(--orange);
  font-size: 20pt;
  cursor: pointer;
}

.banner_container {
  width: 100%;
}

.info_container {
  width: 90%;
  color: var(--darkBlue);
  font-size: 15pt;
  margin-bottom: 2rem;
}

.info_container span {
  text-decoration: underline;
}

.info_container ul li span {
  color: var(--orange);
  text-decoration: none;
}

.info_container h4 {
  font-weight: 100;
}

.day_selector {
  display: flex;
  align-items:center;
  justify-content: center;
}

.day_selector h5 {
  font-weight: 100;
  font-size: 25pt;
  margin: 3rem 0;
}

.day_selector h5 span {
  color: var(--orange);
}

.day_selector select {
  margin: 0 1rem;
  font-size: 25pt;
  background-color: transparent;
  border: none;
  color: var(--orange);
  font-weight: bold;
}

.day_selector option {
  background-color: var(--dark);
}