.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
.container h1, .container h2 {
  font-weight: 100;
}

.user_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  padding-left: 10vw;
  line-height: 5pt;
}

.user_info p{
  font-size: 15pt;
}

.user_info span{
  color: var(--darkBlue);
}

.user_info h4{
  font-weight: 100;
  cursor: pointer;
  color:var(--orange);
}

.user_info div {
  display: flex;
  align-items: center;
  gap: 1rem;  
  color: white;
}

.user_info div div {
  color: var(--orange);
  font-size: 20pt;
  cursor: pointer;
}

.banner_container {
  width: 100%;
}