.container {
  background-color: var(--mediumBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.container h1 {
  text-transform: uppercase;
}

.container form  {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container form span {
  padding: 10px 0;
  color: var(--darkBlue);
  font-weight: bold;
  text-transform: uppercase;
}

.container form > span {
  width: 100%;
  text-align: left;
}

.container form input {
  padding: 0.50rem 0;
  padding-left: 10px;
  height: 40px;
  margin: 10px 0;
  background-color: var(--darkBlue);
  border-radius: 5px;
  width: 100%;
  border: none;
}

.container form input::placeholder {
  text-transform: uppercase;
  font-weight: bold;
}

.container form input:focus {
  outline: 2px solid var(--orange);
}

.container button {
  padding: 15px 60px;
  text-transform: uppercase;
  background-color: var(--orange);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.container .bottomForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
