.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container form  {
  width: 35%;
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container form span {
  color: var(--darkBlue);
  font-weight: 100;
  font-size: 15pt;
}

.container form > span {
  width: 100%;
  text-align: left;
}

.container form input {
  padding: 1.5rem 0;
  padding-left: 2rem;
  height: 2rem;
  margin: 0.2rem 0;
  background-color: var(--darkBlue);
  border-radius: 5px;
  width: 100%;
  border: none;
  font-size: 12pt;
  color: white;
}

.container form input::placeholder {
  font-weight: bold;
  color: var(--lightBlue);
}

.container form input:focus {
  outline: 2px solid var(--orange);
}

.container .bottomForm {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container .bottomForm span:first-child {
  color: var(--orange);
}

.container .bottomForm span {
  color: white;
  display:flex;
  align-items: center;
  cursor: pointer;
  transition: .2s;
}

.container .bottomForm span:hover {
  color: var(--darkBlue);
}

.container h1 {
  font-weight: 100;
}

.banner_container {
  width: 100%;
  background-color: #0A0E11;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow:hidden;
  box-shadow: 0px 0px 10px black;
}

.banner_inside_container {
  max-width: 1000px;
  width: 70%;
}

.loading_container {
  margin-top: 2rem;
}
