.EventBoxContainer{
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    min-width: 20rem;
    margin: 10px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-size: 1rem;
    display:flex;
    justify-content: center;
    flex-direction: column;
}   
.EventBoxContainer:hover{
    transform: scale(1.05);
}

.EventBoxContainer ul {
    list-style: none;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    text-align: center;
    padding: 0;
}

#selected {
    background-color: var(--orange);
    color: var(--darkBlue);
}

#unselected {
    background-color: var(--darkBlue);
    color: white;
}
