.footerContainer {
  width: 100%;
  background-color: var(--dark);
  margin-top: 10rem;
  color: white;
  box-shadow: 0px 0px 5px black;
}

.footerContainer h3 {
  font-weight: 100;
  margin-bottom: 4rem;
}

.innerContainer {
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem auto;
  margin-bottom: 8rem;
}

.innerContainer div {
  display: flex;
  justify-content: center;
  /* width: 50%; */
}

.innerContainer p {
  font-weight: 100;
  font-size: 20pt;
  margin-bottom: 5rem;
}

.innerContainer p span{
  color: var(--orange);
  text-decoration: underline;
  margin-left: 2rem;
  cursor: pointer;
}

.supportContainer {
  width: 30%;
}

.colaboratorsContainer {
  width: 90%;
  margin-bottom: 3rem;
}

.supportContainer div {
  height: 7rem;
  width: 100%;
  position: relative;
}

.colaboratorsContainer div {
  height: 5rem;
  width: 100%;
  position: relative;
}

@media (max-width:700px) {
  .colaboratorsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .colaboratorsContainer div {
    margin-bottom: 3rem;
  }

  .supportContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .supportContainer div {
    margin-bottom: 3rem;
  }
}
