.navbarContainer {
  width: 100%;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  z-index: 2;
  overflow: hidden;
}

.logoContainer {
  height: 5rem;
  top:0;
  background-color: var(--dark);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.logoContainer div {
  position: relative;
  width: 9rem;
  height: 90%;
  margin-left: 1rem;
}

.navbarContainer ul {
  list-style:none;
  display:flex;
  justify-content: space-between;
  width: 90%;
  color: white;
  font-size: 11pt;
  cursor: pointer;
  text-align: center;
  background-color: var(--darkBlue);
  transition: .5s;
  padding-left: 0;
}

.navbarContainer ul li {
  transition: .3s;
  width: 100%;
  text-align: center;
}

.navbarContainer ul li:hover {
  color: var(--orange);
  transform: scale(.9);
}

#selected {
  color: var(--orange);
}

.menuIconContainer {
  display: none;
  height: 3rem;
}

@media (max-width: 700px) {
  .navbarContainer {
    height: fit-content;
  }
  
  .navbarContainer ul {
    font-size: 10pt;
    flex-direction: column;
    position: absolute;
    width: 100%;
  }

  .navbarContainer ul li {
    margin-bottom: 1rem;
  }

  .menuIconContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 20pt;
    color: white;
  }

}

#ufeslogo {
  width: 6rem;
}