.navbarContainer {
  height: 3rem;
  width: 100%;
  background-color: var(--darkBlue);
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 5px black;
  z-index: 2;
}

.logoContainer {
  position: absolute;
  left: 1rem;
  top: 1rem;
  height: 40px;
  width: 40px;
}

.navbarContainer ul {
  list-style:none;
  display:flex;
  justify-content: space-between;
  width: 90%;
  color: white;
  font-size: 11pt;
  cursor: pointer;
}

.navbarContainer ul li {
  transition: .3s;
  width: 100%;
  text-align: center;
}

.navbarContainer ul li:hover {
  color: var(--orange);
  transform: scale(.9);
}

#selected {
  color: var(--orange);
}