.navbarContainer {
  height: 6rem;
  width: 100%;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 5px black;
  z-index: 2;
}

.logoContainer {
  height: 3rem;
  position: absolute;
  top:0;
  background-color: var(--dark);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoContainer div {
  position: relative;
  width: 3rem;
  height: 80%;
  margin-left: 1rem;
}

.navbarContainer ul {
  list-style:none;
  display:flex;
  justify-content: space-between;
  width: 90%;
  color: white;
  font-size: 11pt;
  cursor: pointer;
  text-align: center;
  margin-left: 3rem;
  margin-top: 4rem;
}

.navbarContainer ul li {
  transition: .3s;
  width: 100%;
  text-align: center;
}

.navbarContainer ul li:hover {
  color: var(--orange);
  transform: scale(.9);
}

#selected {
  color: var(--orange);
}

@media (max-width: 380px) {
  .navbarContainer ul {
    font-size: 10pt;
  }
}