.container {
  width: 100%;
  height: 80vh;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25pt;
}

.container form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 10%;
}

.container div {
  flex: 1;
}

.container input {
  width: 90%;
  border: none;
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
  background: var(--darkBlue);
  border-bottom: 2px solid #fff;
  margin: 5px 0;
}

.container .leftInputs {
  flex: 1.5;
}

.container label {
  color: var(--lightBlue);
  display: block;
  font-size: 13pt;
}
