.container {
  width: 100%;
  background-color: var(--darkBlue);
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: show .7s ease-in-out;
}

.container h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 25pt;
}

.container form {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 50px 10%;
}

.container div {
  flex: 1;
}

.container input {
  width: 90%;
  border: none;
  font-size: 14pt;
  font-weight: bold;
  color: #fff;
  background: var(--darkBlue);
  border-bottom: 2px solid #fff;
  margin: 5px 0;
}

.container .leftInputs {
  flex: 1.5;
}

.leftInputs p{
  color: tomato;
}

.container label {
  color: var(--lightBlue);
  display: block;
  font-size: 13pt;
}

/* Chrome, Safari, Edge, Opera */
.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.container input[type=number] {
  -moz-appearance: textfield;
}

/* animation for register forms */
@keyframes show {
  from { transform: translateY(-40rem)}
  to { transform: translateY(0)}
}

.loading_container {
  margin-top: 2rem;
}

.container form div span strong {
  font-weight: 100;
  color: var(--orange);
}