.switch_container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 3rem;
  width: 100%;
  cursor: pointer;
  margin-bottom: 2rem;
}

.switch_container h3, .switch_container h2 {
  font-weight: 100;
  font-size: 20pt;
}

.switch_container h2 span {
  color: white
}

.switch_container span {
  color: var(--orange);
}

.switch_toggle {
  font-size: 30pt;
  color: var(--orange);
  margin-right: 1rem;
}

@media (max-width: 430px) {
  .switch_container h3, .switch_container h2{
    font-size: 18pt;
  }
  .switch_toggle{
    font-size: 27pt;
  }
}
@media (max-width: 400px) {
  .switch_container h3, .switch_container h2{
    font-size: 16pt;
  }
  .switch_toggle{
    font-size: 25pt;
  }
}
@media (max-width: 340px) {
  .switch_container h3, .switch_container h2{
    font-size: 14pt;
  }
  .switch_toggle{
    font-size: 24pt;
  }
}