.EventsContainer {
    display: flex;
    margin-top: 10vh;
    margin-bottom: 20vh;
    width: 100%;
}
.EventsTable {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
}
.EventsTable th{
    font-size: 32px;
    color: var(--darkBlue);
}

.EventsTable tbody tr th {
    font-weight: 100;
}

.EventsTable th:nth-child(2) {
    border-right: 2px solid var(--darkBlue);
}
.EventsTable td:first-child{
    width: 13rem;
    font-size: 16pt;
    margin: auto 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.EventsTable td:nth-child(2) {
    border-right: 2px solid var(--darkBlue);
}
.EventsTable tr:nth-of-type(2n+1) {
    background-color: var(--mediumBlue);
}
.EventsTable tr:nth-of-type(2n) {
    background-color: var(--lightBlue);
}
.EventsTable tr{
    height: 80px;
}
.EventBoxesContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}