html,
body {
<<<<<<< HEAD
  background-color: #fff;
=======
>>>>>>> 2cc9c9c7e518b05e69b0bf1fac310a6541f54fd1
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
<<<<<<< HEAD

:root {
  --lightBlue: #9CA7DE;
  --mediumBlue: #8994CE;
  --darkBlue: #35394F;
  --orange: #F9AE77;
}
=======
>>>>>>> 2cc9c9c7e518b05e69b0bf1fac310a6541f54fd1
