@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

html,
body {
  background-color: var(--mediumBlue);
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Jockey One', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 100;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  outline: 0;
}
:root {
  --lightBlue: #9CA7DE;
  --mediumBlue: #8994CE;
  --darkBlue: #35394F;
  --orange: #85D5E7;
  --dark: #1F1F24;
}
